{% extends 'base.html' %}

{% block body %}
<div class="col-lg-8">
    <div class="row">
        {% for post in blogs %}
        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="blog-card-small">
                <div class="blog-card-img">
                    <img src="{{ MEDIA_URL }}{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                </div>
                <div class="blog-card-body">
                    <h2 class="blog-card-title">{{ post.title }}</h2>
                    <p class="blog-card-summary">{{ post.summary }}</p>
                    <a href="{% url 'blog_detail' id=post.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<style>
    .blog-card-small {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        width:600px;
        
    }
    
    .blog-card-small:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .blog-card-img img {
        width: 100%;
        height: auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    .blog-card-body {
        padding: 15px;
    }
    
    .blog-card-title {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 1.2rem;
        color: #333;
    }
    
    .blog-card-summary {
        margin-bottom: 10px;
        font-size: 0.9rem;
        color: #666;
    }
    
    .btn-primary {
        display: inline-block;
        font-weight: 500;
        text-decoration: none;
        padding: 8px 15px;
        font-size: 0.9rem;
        border-radius: 5px;
        color: #fff;
        background-color: #007bff;
        border: none;
        transition: background-color 0.3s ease;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
    }
    
    
</style>
{% endblock %}